

<p> Welcome back Maggie!</p>
<p> Remember:</p>
<p> - When an owner has 3 pets or more, you will not be able to assign them a new cat!</p>
<p> - When you assign a cat to a new owner, manually change its status to 'adopted': it will then appear on the adoptable page.</p>
<p> - When an owner adopts a new cat, their total number of cats will be automatically updated.</p>
<div class="">
  <img src="images/Logo.jpg" alt="Arokh and Hallie" class="center">
</div>
