<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Maggie's Moggies</title>
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
    <link rel="stylesheet" href="/style_cat.css">
  </head>
  <body>
    <nav id="menu">
      <li class="menu-item"><a
        href='/cats'>Cats housed at Maggie's Moggies</a></li>
        <li class="menu-item"><a href='/cats/new'>House a new cat at Maggie's Moggies</a></li>
      <li class="menu-item"><a
        href='/owners'>Owners registered at Maggie's Moggies</a></li>
        <li class="menu-item"><a href='/owners/new'>Register a new owner at Maggie's Moggies</a></li>
      </nav>
      <h1 id="logo">Maggie's Moggies</h1>

    <%= yield %>
  </body>
</html>
