body {
  font-family: 'Indie Flower', cursive;
  color: #402f2f;
  background-color: #95999a;
  font-size: 20px;
}

h2 {
  font-size: 25px;
  text-align: center;
  border-width: 2px;
  border-color: black;
  border-style: dashed;
  padding: 10px;
}

nav {
  list-style-type: none;
  margin-top: 2px;
  padding: 0;
  overflow: hidden;
  background-color: #9e5e5e;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  margin-left: auto;
  margin-right: auto;
}

nav li a {
  color: white;
  display: block;
  text-align: center;
  padding: 14px 16px;
}

nav li a:hover {
  color: black;
}

li a:hover:not(.menu-item) {
  background-color: #ead0d0;
}

li {
  float:left;
  border-right: 1px solid black;
}

li:last-child {
  border-right: none;
}

/* .menu-item a {
  color: white;
} */

#logo {
text-align: center;
  padding: 20px;
  background-color: #402f2f;
  color: white;
  font-size: 40px;
  margin-bottom: 2px;
  margin-top: 1px;
  border-width: 2px;
  border-style: solid;
  border-color: black;
}

a {
  text-decoration: none;
  color: #27736d;
}

a:hover {
  color: white;
}

.footer {
  position: absolute;
  text-align: center;
  background-color: #402f2f;
  color: white;
  margin: 1px;
  padding: 1px;
  width: 100%;

}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70% ;
  border-style: solid;
  border-color: #402f2f;
  border-width: 2px;
  margin-bottom: 5px;
}

/* Media queries */
/* @media screen and (max-width: 600px) {

  nav {
    font-size: 12px;
  }

} */
