body {
  font-family: 'Indie Flower', cursive;
  color: #a04e5c;
  background-color: #e4dbdf;
  font-size: 20px;
}

h2 {
  font-size: 25px;
  text-align: center;
  border-width: 2px;
  border-color: black;
  border-style: dashed;
  padding: 10px;
}

nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #9e5e5e;
  border-width: 2px;
  border-style: solid;
  border-color: black;
}

nav li a {
  color: white;
  display: block;
  text-align: center;
  padding: 14px 16px;
}

li a:hover:not(.menu-item) {
  background-color: #ead0d0;
}

li {
  float:left;
}

/* .menu-item a {
  color: white;
} */

#logo {
text-align: center;
  padding: 20px;
  background-color: #9e5e5e;
  color: white;
  font-size: 40px;
}

a {
  text-decoration: none;
  color: #27736d;
}

a:hover {
  color: #e48609;
}

.owner {

}
