<h2>Register a new owner</h2>
  <form method="POST" action="/owners">
    <div class="form-wrapper">

      <div class="form-el">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" />
      </div>

      <div class="form-el">
        <label for="age">Age:</label>
        <input type="text" name="age" id="age" />
      </div>

      <div class="form-el">
        <label for="background">Background:</label>
        <input type="text" name="background" size="100" id="background" />
      </div>

      <div class="form-el">
        <label for="accommodation_type">Accommodation:</label>
        <input type="text" name="accommodation_type" id="accommodation_type" />
      </div>


      <div class="form-el">
        <input type="submit" value="Add this owner to Maggie's Moggies"/>
      </div>


  </div>
</form>
