<h2>Register a new moggie</h2>
  <form method="POST" action="/cats">
    <div class="form-wrapper">

      <div class="form-el">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" />
      </div>

      <div class="form-el">
        <label for="age">Age:</label>
        <input type="text" name="age" id="age" />
      </div>

      <div class="form-el">
        <label for="gender">Gender:</label></br>
        <input type="radio" name="gender" value="male">Male<br>
        <input type="radio" name="gender" value="female">Female<br>

      </div>

      <div class="form-el">
        <label for="color">Color:</label>
        <input type="text" name="color" id="color" />
      </div>

      <div class="form-el">
        <label for="description">Description:</label>
        <input type="text" name="description" id="description" size ="100"/>
      </div>

      <div class="form-el">
        <label for="admission_date">Admission Date:</label>
        <input type="date" name="admission_date" id="admission_date" />
      </div>

      <div class="form-el">
        <label for="adoptable">Adoptable?:</label>
      <select id="adoptable" name="adoptable">
        <option value="t">Yes</option>
      </select>
      </div>

      <div class="form-el">
        <label for="owner_select">Select new owner:</label>
        <select name="owner_id" id="owner_select">
        <% @owners.each do |owner| %>
        <% if owner.name == "Maggie" %>

            <option value='<%= owner.id %>'><%= owner.name%></option>


              <% end %>
              <% end %>
            </select>
          </div>

      <div class="form-el">
        <input type="submit" value="Add this cat to Maggie's Moggies"/>
      </div>


  </div>
</form>
